#blue deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-blue
  namespace: blue-green-deployment
  labels:
    version: v1
spec:
  selector:
    matchLabels:
      app: nginx
      version: v1
  template:
    metadata:
      labels:
        app: nginx
        version: v1
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        resources: {}
        ports:
        - containerPort: 80


#green deployment
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-green
  namespace: blue-green-deployment
  labels:
    version: v2
spec:
  selector:
    matchLabels:
      app: nginx
      version: v2
  template:
    metadata:
      labels:
        app: nginx
        version: v2
    spec:
      containers:
      - name: nginx
        image: nginx:1.28
        resources: {}
        ports:
        - containerPort: 80